.css-1a4cg4j-MuiButtonBase-root-MuiTab-root:focus{
    outline: none;
}
.broughtToYou-text{
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
}
.broughtToYou-CompanyName{
    font-size: 20px;
    font-weight: 550;
    font-family: cursive;
}
.broughtToYou-subText{
    font-size: 15px;
    font-weight: 500;
    font-family: cursive;
}